
.posts{
    list-style-type: none;
    margin: 0px;
}
.post{
    margin: 0px;
    padding: 1rem 2rem;
    // padding-inline-start: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    a{
        color:#2161f2;
        text-decoration: none;
        border: none;
        &:active,
        &:focus{
            color:#5183f5;
        }
        
    }
    a:hover{
        background-color:transparent;
    }
    p{
    font-size: .8rem;
    color: #afafaf;
    }
    &:hover{
    background-color: #f2f2f2;
    }
    &:focus,
    &:active{
        border: 2px dashed #5183f5;
        background: #f0f4fe;
        color: #5183f5 !important ;
    }
    .date{
        font-weight: 500;
    }
    .content{
        display: block;
        flex: 1 0;
        padding: 0px 12px;
        padding-inline-start: 30px;
    
    }
    border: 2px solid transparent;
    border-bottom-color: #f2f2f2;
    .content_wrapper{
        display: flex;
        flex-direction: row;
    
    }
    
}
